<section class="home flex items-center flex-wrap gap-6 pt-40">
    <div class="content flex-1 max-w-[45rem] px-6">
        <h3 class="text-5xl text-gray-900 leading-8 ml-4">Vivez en meuilleure santé!</h3>
        <p class="text-xl text-gray-500 leading-8 py-4 ml-4">Prenez soin de votre santé avec nos experts. Prenez rendez-vous dès maintenant, ou consultez alors toutes les dispoibilités des experts pour votre confort et votre sérénité.</p>
        <a href="/page-doctors" class="btn inline-block mt-4 py-2 pl-4 text-lg border-2 border-blue-600 shadow-md text-blue-600 hover:bg-blue-600 hover:text-white rounded-md flex items-center justify-center">Consultez des maintenant</a>
    </div>
    <div class="image flex-1 max-w-[45rem]">
        <img src="assets/img1.png" alt="image1" class="w-full h-auto object-cover">
    </div>
</section>
